* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F2F7ED;
    color: #6D3319;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    font-size: 72pt;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    text-align: center;
    font-size: 60pt;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    text-align: center;
    font-size: 36pt;
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
}
a:link {
    color: #6D3319;
}
a:visited {
    color: #2E381C;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
img {
    max-width: 100%;
    max-height: 100%;
}
nav {
    position: relative;
}
ul {
    list-style-position: inside;
    list-style-type: circle;
    padding: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navlist {
    display: inline;
    font-size: 24pt;
    padding: 10px;
}
.logo {
    position: relative;
    width: 10em;
    height: 9em;
    padding-right: 1%;
}
.index-main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.index-inner-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-right: 2%;
}
.headshot {
    padding: 12%;
    object-fit: fill;
    height: 50em;
    width: 70em;
    aspect-ratio: 75;
}
.video {
    display: flex;
    justify-content: flex-end;
    padding: 1%;  
}
.welcome-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    margin: 2%;
    min-width: 50%;
}
.first-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.first-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 30em;
    width: 30em;
    padding: 2%;
}
.introduction-text {
    display: flex;
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    align-items: baseline;
    flex-direction: column;
    margin-right: 4%;
}
.second-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 1em;
}
.second-container-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    padding: 2%;
    height: 25em;
    width: 100em;
}
.education-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    margin: 2%;
}
.third-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
}
.third-container-photos {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 2%;
    gap: 5%;
    height: auto;
    width: auto;
}
.work-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    margin: 2%;
    min-width: 50%;
}
.contact-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-box {
    font-size: 14pt;
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    margin: 2%;
}
label {
    display: block;
    font-size: 16pt;
    font-weight: 700;
}
.form-input {
    border: 2px solid #6F7608;
    font-size: 16pt;
    font-weight: 700px;
    padding: 1%;
    margin-bottom: 1%;
    width: 100%; 
}
.form-input:focus {
    outline: none;
    border: 2px solid goldenrod;
}
[type="submit"] {
    background: goldenrod;
    width: 100%;
    font-size: 18pt;
    font-weight: 1000;
    cursor: pointer;
}
[type="submit"]:hover,
[type="submit"]:focus {
    background: rgb(159, 116, 8);
}
textarea {
    resize: vertical;
}
.error {
    border-color: red
}
.error-message {
    color: red
}
footer {
    font-size: 10pt; 
}
hr {
    border: 1px solid #6F7608;
}
@media (max-width: 768px) {
    .index-main-container, .first-container, .first-container-photos, .second-container, .second-container-photos, .third-container, .third-container-photos     {
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }
    h1 {font-size: 36pt;}
}