* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F2F7ED;
    color: #6D3319;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    font-size: 72pt;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    text-align: center;
    font-size: 60pt;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
    text-align: center;
    font-size: 36pt;
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6F7608;
}
a:link {
    color: #6D3319;
}
a:visited {
    color: #2E381C;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
img {
    max-width: 100%;
    max-height: 100%;
}
nav {
    position: relative;
    border: 2px solid #6F7608;
}
ul {
    list-style-position: inside;
    list-style-type: circle;
    padding: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navlist {
    display: inline;
    font-size: 24pt;
    padding: 10px;
}
.logo {
    position: relative;
    max-width: 11%;
    max-height: 11%;
    padding-right: 1%;
}
.index-main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.index-inner-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-right: 2%;
}
.headshot {
    max-width: 75%;
    max-height: 75%;
    padding-left: 12%;
}
.video {
    padding-top: 2%;
}
.welcome-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
}
.first-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.first-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 25%;
    max-height: 25%;
}
.introduction-text {
    display: flex;
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    min-width: 55%;
    padding: 1%;
    align-items: baseline;
    flex-direction: column;
    margin-right: 4%;
}
.second-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.second-container-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    max-height: 50%;
    max-width: 50%;
    padding-right: 2%;
}
.education-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    margin: 2%;
    max-width: 55%;
}
.third-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
}
.third-container-photos {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 2%;
    gap: 18%;
}
.victor {
    min-width: 150%;
    min-height: 150%;
}
.kyle {
    max-width: 90%;
    max-height: 90%;
}
.work-text {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
    padding: 1%;
    margin: 2%;
    min-width: 40%;
}
.contact-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-box {
    width: fit-content;
    border: 2px solid #6F7608;
    font-size: 14pt;
}
footer {
    font-size: 10pt;
    border: 2px solid #6F7608; 
}